$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);

$darkGrayishRed: hsl(0, 6%, 24%);

$linear1-1: hsl(0, 0%, 100%);
$linear1-2: hsl(0, 100%, 98%);
$linear2-1: hsl(0, 80%, 86%);
$linear2-2: hsl(0, 74%, 74%);
